Werkzeug
Flask
flask-socketio
PyJWT
mysql-connector-python
python-dotenv
Flask-MySQLdb
Flask-CORS
bcrypt

gunicorn
opencv_python
supervision==0.1.0
ultralytics
onemetric

torch>=1.7
opencv_python
loguru
scikit-image
Ipywidgets==7.4.2
tqdm
torchvision>=0.10.0
Pillow
thop
ninja
tabulate
tensorboard
lap
motmetrics
filterpy
h5py

# verified versions
onnx==1.8.1
onnxruntime==1.15.1
onnx-simplifier==0.3.5
ffmpeg-python
python-pptx
